[Unit]
Description=Run computer backup daily

[Timer]
OnCalendar=*-*-* 16:00:00
Persistent=true
RandomizedDelaySec=5m

[Install]
WantedBy=timers.target
